<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><cms:function>GetSiteName()</cms:function></title>
<LINK rel="stylesheet" type="text/css" href="<cms:function>GetBaseURL()</cms:function>skins/msdn/wwhelp.css">
<SCRIPT SRC="<cms:function>GetBaseURL()</cms:function>skins/msdn/wwhelp.js"></SCRIPT>
</head>
<body leftmargin=0 topmargin=0>
<cms:list>
	<sql>SELECT A.*, B.BlogCategoryName, C.Author AS authorname, (SELECT COUNT(ID) FROM blog_comments WHERE BlogID = A.ID) AS CommentCount FROM ((blog_blogs A  INNER JOIN blog_categories B ON B.ID = A.BlogCategoryID) INNER JOIN blog_author C ON C.ID = A.Author) WHERE A.ID = {$blogId}</sql>
	<template>
		<table border=0 width="100%" bgcolor="lightblue" class="banner" cellspacing="3">
		<tr><td valign="center">
		<span style="font:8pt Verdana;font-style:italic">$BlogCategoryName$</span>
		</td></tr><tr><td>
		<span style="font:10pt Verdana;font-weight:bold">
		<img src="<cms:function>GetBaseURL()</cms:function>skins/msdn/bmp/HEADER.gif">$Title$
		</span>
		</td></tr>
		</table>



		<div class="contentpane">
			<br>
			$iHTMLEncode(Content)$
			<br>
		</div>
		
		<hr>
		<small>Last Updated: <i>$PostTime$</i></small>		
		<small>view: <i><script language="javascript" src="<cms:function>GetBaseURL()</cms:function>index.asp?/ajax/gethits/$id$" type="text/javascript"></script></i></small>		 
</template>
<cache>1</cache>
</cms:list>
</body>
</html>