<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<style type="text/css">
body, a, table, div, span, td, th, input, select{font:9pt;font-family: "宋体", Verdana, Arial, Helvetica, sans-serif;}
body {padding:5px}
</style>
<BODY bgColor=menu>
<script language="javascript">
function UploadSaved(sPathFileName){
	//d_fromurl.value = sPathFileName;
	window.returnValue = sPathFileName;
	window.close();
}

</script>
<table width="100%" height="45" border=0 align=center cellpadding=0 cellspacing=0>
<tr><td align=right>
<cms:label>$form$</cms:label>
</td></tr>
</table>
</body>
</html>